<a href="https://colab.research.google.com/github/REDi-school-ff22-Data-cycle/twitter-sentiment-analysis/blob/main/Twitter_Sentiment_P1_lucia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Twitter Sentiment Analysis Climate Change

Challenge and data adquired from: https://www.kaggle.com/datasets/edqian/twitter-climate-change-sentiment-dataset?datasetId=413654

GitHub Repository: https://github.com/REDi-school-ff22-Data-cycle/twitter-sentiment-analysis

Tasks to follow: 
1. Create a code that loads and processes the data.

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/REDi-school-ff22-Data-cycle/twitter-sentiment-analysis/main/twitter_sentiment_data.csv'
df = pd.read_csv(url)
df.head(5)

,sentiment,message,tweetid
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256
3,1,RT @Mick_Fanning: Just watched this amazing do...,793124635873275904
4,2,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",793125156185137153

In [31]:
df.shape

(43943, 3)

In [34]:
sentiment_count =df['sentiment'].value_counts().to_frame()
sentiment_count

percentage= (sentiment_count*100)/df.shape[0]
percentage

    sentiment
 1  52.254056
 2  21.109164
 0  17.556835
-1   9.079944